body {
 font-family: Graphik LC TT;   
color: black;
background-color: white;
}
h2 {
color: black;
}
sponsors {
background-color: #FF9C7D;    
}
lokalise {
    background-color: #FFF8E4;
}
revolut {
    background-color: #C9E8F2;
}
cake {
    background-color: #DABC98;
}
Try {
    background-color: #FF9C7D;
}
Studies {
 background-color: #EEEEEE;   
}
